<mat-toolbar color="primary">
  <span>Xuxemons</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="Coins icon-button">
    <img src="/assets/navbar/coins.png" alt="Coins image">
  </button>

  <h5>100</h5>

</mat-toolbar>

<div class="container">

  <mat-grid-list style="margin-top: 40px" [cols]="gridColumns" rowHeight="275px">
    <mat-grid-tile *ngFor="let menucard of menucards">
      <app-menu-card [menuCard]="menucard"></app-menu-card>
    </mat-grid-tile>
  </mat-grid-list>


</div>
